.App {
  border: 2px solid yellow;
  width: 50%;
  margin: 0 auto;
}

.todo-list {
  border: 2px solid black;

  margin: 0 auto;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task {
  cursor: pointer;
  background: green;
  padding-left: 10px;
}

.completed {
  text-decoration: line-through;
}

.past-due {
  background: red;
}

.todo-form {
  background: blue;
  width: 100%;

  margin: 0 auto;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
}

.todo-form input {
  height: 4vh;
}

.search-bar {
  border: 3px solid orange;
  display: flex;
  flex-direction: column;
}

.search-input {
  border: 2px solid green;
  height: 30px;
  margin: 20px auto;
}

button {
  height: 5vh;
  font-weight: bold;
  background: none;
  border: 1px solid black;
  cursor: pointer;
}
